#about {
  margin-top: 0;
  background-image: url('\sea wallpaper.png');
  height: 5400px;
  padding-top: 1400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

#overlay {
  padding-top: 0;
}

.footer {
  margin-top: 0;
}