#cekdata {
  margin-top: 0;
  background-image: url('\wallpaper_cekdata.png');
  width: 1920px;
  height: 1080px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  #cekdata {
    width: auto;
    height: 1080px;
  }
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

#overlay {
  padding-top: 0;
}

.footer {
  margin-top: 0;
}