#top {
  margin-top: -50px;
  background-image: url('\ daftar_wp.png');
  margin-bottom: 0;
  height: 1080px;
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}
#head {
  margin-top: 0;
  background-color: #4CA6C6;
  height: auto;
  padding-top: 50px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
form {
  margin-top: 0;
  background-color: #4CA6C6;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

#bottom {
  margin-top: -50px;
  background-image: url('\ daftar_wp3.png');
  margin-bottom: 0;
  height: 1080px;
  padding-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

#overlay {
  padding-top: 100px;
}

