@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#overlay {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  font-size: 20px;
  position: absolute;
  padding-top: 20px;
  top: 15vh;
}

.footer {
  bottom: 0;
  position: absolute;
  height: 40px;
  margin-bottom: 0;
  background-color: rgb(0, 13, 71);
  color:whitesmoke;
  width: 100%;
  text-align: center;
}

.logo {
  max-height: 15vh;
  min-height: 50px;
}
.logocc {
  max-height: 13vh;
  min-height: 40px;
  padding-bottom: 1vh;
  margin-left: 10px;
}

/*Navbar*/

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  height: 15vh;
  min-height: 50px;
  width: 100%;
  z-index: 10;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  height: 15vh;
  margin: 0.5vh 0.5vw;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5vh 1vw;
  font-size: 20px;
  font-family: 'Roboto';
}

.navbar-links li:hover {
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 11;
  background-color: rgb(230, 230, 230);
  text-align: right;
  top: 15vh;
}

.subnav-content li a {
  padding: 0;
  background-color: transparent;
}

.subnav-content li {
  margin-bottom: 0;
  height: 5vh;
  bottom:0;
  text-align: right;
  display: inline-block;
  padding: 0.8vh;
}

.subnav-content li:hover {
  background-color: whitesmoke;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.subnavHamburger {
  display: none;
}

@media (max-width: 999px) {
  .navbar-links{
    display: none;
    width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li{
      text-align: center;
      background-color: white;
      margin: -1.5vh 0 0 0;
      border-top: 1px solid rgb(243, 243, 243);
  }

  .navbar-links ul li a {
      padding: 5px 5px 20px 5px;
  }
  
  .subnav {
    display: none;
  }

  .subnavHamburger {
    display: flex;
    text-align: center;
  }
  .subnavlink {
    width: 100%;
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }
}