a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 17px;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

body {
  background-image: url('\ atlantis background.png');
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Rubik, Arial;
}

.title{
  float: left;
}

.logo {
  float: left;
  height: 10vh;
  display: block;
  margin: 0 2px 0 0;
}

form {
  margin-top: 1vh;
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
  background-color: transparent;
  margin: 0;
}

form hr {
  width: 15%;
}

h1 {
  text-align: center;
}

#logo {
  height: 15vh;
  display: block;
  margin: auto;
}

#container {
  display: block;
  align-self: center;
  position: static;  
  display: inline-block;
  align-content: center;
  display: inline-block; 
}

#checkbox {
  display: inline-block; 
}

.toppings label, .cheesy label {
  margin-right: 25px;
}

#submit {
  color: white;
  border-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  background-color:transparent;
  border: 1px solid;
  margin-top: 1vh;
}

#submit:hover {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color:rgb(112, 112, 112);
}

#button {
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}

#button:hover {
  background-color: white;
  opacity: 1;
  color:rgb(83, 83, 83);
}

#output {
  text-align: center;
}

h2 {
  font-size: 25px;
  color: white;
}

p {
  font-size: 22px;
  color: rgb(201, 201, 201);
}

#output a {
  color: white;
}

  @media (min-width: 1920px){
    body {
      background-image: url('\ atlantis background.png');
      font-family: Rubik, Arial;
      background-size: cover;
      color: white;
      margin: 0;
      padding: 0;
    }

    #submit {
      color: white;
      border-color: white;
    }

    form {
      background-color: transparent;
      margin: 0;
    }
}