a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 17px;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
}

body {
  background-image: url('\ atlantis background.png');
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Rubik, Arial;
  line-height: 1.5;
}

#content {
  min-height: 100vh;
}

.title{
  float: left;
}

form {
  margin-top: 1vh;
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

form hr {
  width: 15%;
}

h1 {
  text-align: center;
}

#logo {
  height: 10vh;
  display: block;
  margin: auto;
}

#container {
  display: block;
  align-self: center;
  position: static;  
  display: inline-block;
  align-content: center;
  display: inline-block; 
}

#checkbox {
  display: inline-block; 
}

#submit {
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
  background-color:transparent;
  border: 1px solid;
  margin-top: 1vh;
  border-color: rgb(255, 255, 255);
}

#submit:hover {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color:rgb(112, 112, 112);
}

#button {
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}

#button:hover {
  background-color: white;
  opacity: 1;
  color:rgb(83, 83, 83);
}

#output {
  text-align: center;
}

p {
  font-size: 22px;
  color: rgb(201, 201, 201);
}

#output a {
  color: white;
}

#dataumum {
  width: 80%;
  border-radius: 10px;
  margin-top: 3vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  color:rgb(83, 83, 83);
  opacity: 0.8
}

.peserta {
  width: 80%;
  border-radius: 10px;
  margin-top: 1vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  color:rgb(83, 83, 83);
  opacity: 0.8
}

h2 {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.footer a{
  margin: 0;
  font-size: 15px;
  color:whitesmoke;
  font-family: "Verdana", sans-serif;
}

.team {
  text-align: center;
}

.team h1{
  margin-bottom: 5vh;
  color: white;
  font-family: Rubik, Arial;
  font-size: 30px;
}

.team h2{
  color: white;
  font-family: Rubik, Arial;
  font-size: 25px;
}

.team p{
  color: white;
  font-family: Rubik, Arial;
  font-size: 20px;
}

@media (min-width: 1920px){
  body {
    background-image: url('\ atlantis background.png');
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  #submit {
    color: white;
    border-color: white;
  }

  form {
    background-color: transparent;
    margin: 0;
  }
}

#about {
  margin-bottom: 5vh;
}

#about h2 {
  text-align: center;
  font-size: 30px;
}

.subsection {
  width: 84vw;
  margin: 5vh 8vw 0 8vw;
  background-color: white;
}

.subsection h3 {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 2vh 2vw 2vh 2vw;
  text-align: left;
  font-size: 30px;
  font-family: Rubik, Arial;
  margin-bottom:0;
}

.subsection .isi{
  border-radius: 20px;
  background-color: whitesmoke;
  color:rgb(0, 21, 112);
  padding: 2vh 2vw 2vh 2vw;
  font-size: 20px;
  font-family: 'Roboto';  
  margin-top: 0;
}

.subtitle {
  text-align: center;
  width: 100vw;
  padding: 1vh 15vw 1vh 15vw;
}

.subtitle h2 {
  color:white;
}

.subsection p{
  color:rgb(0, 21, 112);
}

li {
  margin-left: 0;
}

h3 {
  color:rgb(0, 13, 71);
}

h4 {
  font-family: Rubik, Arial;
  font-size: 20px;
}

h4 a {
  font-family: Rubik, Arial;
  font-size: 20px;
}

.icon {
  width: 20vw;
}

td {
  width: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

table {
  width: 84vw
}

#competitions {
  width: 84vw;
  margin: 1vh 8vw 1vh 8vw;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  padding: 5vh 0 5vh 0;
  float: center;
}

#competitions h4 {
  margin-top: 1vh;
  font-size: 25px;
  color: #0d0d31;
}

iframe {
  height: 85vh;
  min-width: 100vw;
  position: absolute;
  z-index: 0;
  margin-top: -3vh;
}

#FormPendaf {
  color: rgb(0, 0, 0);
  position: absolute;
  width: 100vw;
  margin: 1vh 0 1vh 0;
  background-color: rgb(253, 253, 253);
  text-align: center;
  padding: 5vh 0 5vh 0;
  float: center;
}

#pendaf {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}

.heading {
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}

#my_pdf_viewer {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#canvas_container {
  width: 100%;
}

#pdf_renderer {
  width: 100%;
}