.navbar a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 17px;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

body {
  background-image: url('\ atlantis background.png');
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Rubik, Arial;
}

.title{
  float: left;
}

form {
  margin-top: 1vh;
  text-align: left;
  line-height: 30px;
  height: 80%;
  overflow: auto;
  background-color: transparent;
  padding: 1vh 5vw 1vh 5vw;
  margin: 1vh 5vw 1vh 5vw;
}

form hr {
  width: 15%;
}

h1 {
  text-align: center;
  font-family: 'Berkshire Swash';
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3vh;
}

#logo {
  height: 15vh;
  display: block;
  margin: auto;
}

#container {
  display: block;
  align-self: center;
  position: static;  
  display: inline-block;
  align-content: center;
  display: inline-block; 
}

#checkbox {
  display: inline-block; 
}

#submit {
  color: white;
  border-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Roboto";
  background-color:transparent;
  border: 1px solid;
  margin-top: 1vh;
}

#submit:hover {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  color:rgb(112, 112, 112);
}

#button {
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}

#button:hover {
  background-color: white;
  opacity: 1;
  color:rgb(83, 83, 83);
}

#output {
  text-align: center;
}

h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  color: rgb(201, 201, 201);
}

#output a {
  color: white;
}

  @media (min-width: 1920px){
    body {
      background-image: url('\ atlantis background.png');
      background-size: cover;
      color: white;
      margin: 0;
      padding: 0;
    }

    #submit {
      color: white;
      border-color: white;
    }

}

.option {
  margin-top: 1vh;
  height: auto;
  max-width: 700px;
  background-color: rgb(255, 255, 255);
  color: whitesmoke;
  border-radius: 20px;
  padding: 5px 1vw 5px 1vw;
}

.option label {
  font-size: 25px;
  line-height: 2;
  color: black;
}

span {
  font-size: 25px;
  line-height: 2;
  font-family: 'Roboto';
}

label {
  font-size: 25px;
  font-family: 'Roboto';
  line-height: 2;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto';
}

input[type=url] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto';
}

input[type=email] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto';
}

input[type=date] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto';
}

#tim {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto';
}

.submission {
  margin-top: 5vh;
  width: auto;
  text-align:center;
}

a {
  text-decoration: None;
  color:rgb(159, 252, 244);
  font-size: 25px;
  font-family: 'Roboto';
}

td {
  padding : 1vh 1vw;
  margin: 0;
  width: 40vw;
}

@media screen and (max-width: 800px) {
  form {
    padding : 1vh 1vw;
    margin: 1vh 0vw;
  }
  td {
    width: 100vw;
  }
}