{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <form action="/admin" method="POST">
        <section class="password">
            <label for="pwd">Password</label>
            <br>
            <input type="password" name= "pwd" id="pwd" required>
        </section>
        <section class="nomorpeserta">
            <label for="input">Nomor Peserta/Kelompok</label>
            <br>
            <input type="text" name= "input" id="input" required>
        </section>
        <section class="verifikasidata">
            <span>Verifikasi Data</span>
            <br>
            <input type="radio" name="verifikasi" id="y" value="SUDAH" required>
            <label for="y">SUDAH</label>
            <br>
            <input type="radio" name="verifikasi" id="n" value="BELUM">
            <label for="n">BELUM</label>
            <br>
        </section>
        <section class="submission">
            <input type="submit" id="submit" name = "submit" value="Submit">
        </section>
    </form>
{% endblock %}
