<!DOCTYPE html>
<!-- 
kepo kan sama source code kita, bikin sendiri kok.
jangan lupa follow ig kita ya :)
 @hans_himawan26
 @darrenerawann
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slideshow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='countdown.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="icon" type="image" href="static\favicon.png"/>
    <script>
      const mainMenu = document.querySelector('.mainMenu');
const closeMenu = document.querySelector('.closeMenu');
const openMenu = document.querySelector('.openMenu');

openMenu.addEventListener('click',show);
closeMenu.addEventListener('click',close);

function show(){
    mainMenu.style.display = 'flex';
    mainMenu.style.top = '0';
}
function close(){
    mainMenu.style.top = '-100%';
}
    </script>
{% block head %}
{% endblock head %}
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="nav-logo">
        <img width:100% src="{{url_for('static', filename='Artboard 1.png')}}" alt="Logo Canisius Super League" class="logo">
      </a>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/pendaftaran">SOP Pendaftaran</a></li>
          <li><a href="/pendaf">Daftar</a></li>
          <li><a href="/syarat">SOP Lomba</a></li>
          <li><a href="/cekdata">Cek Data</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <section id="overlay">
      <section id="content">
        {% block content %}
        {% endblock %}
        <br>
        <section class="footer">
          <a href="/team">Meet the Web Development Team</a>
        </section>
      </section>
    </section>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
