<!DOCTYPE html>
<!-- 
kepo kan sama source code kita, bikin sendiri kok.
jangan lupa follow ig kita ya :)
 @hans_himawan26
 @darrenerawann
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slideshow.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='countdown.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-209128624-1">
</script>
<style>
  .logocc {
    max-height: 13vh;
    min-height: 40px;
    padding-bottom: 1vh;
    margin-left: 10px;
  }
</style>
<title>{% block title %} {% endblock title %}</title>
<link rel="icon" type="image" href="static\favicon.png"/>
{% block head %}
{% endblock head %}
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="nav-logo">
        <img width:100% src="{{url_for('static', filename='Artboard 1.png')}}" alt="Logo Canisius Super League" class="logo">
        <img width:100% src="{{url_for('static', filename='logocc.png')}}" alt="Logo Canisius Super League" class="logocc">
      </a>
      <a href="#" class="toggle-button"> 
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/pendaftaran">SOP Pendaftaran</a></li>
          <li><a href="/pendaf">Daftar</a></li>
          <li><a href="/cekdata">Cek Data</a></li>
          <div class="subnav">
            <li><a class="subnavbtn">SOP</a></li>
            <div class="subnav-content">
              <li><a href="/syarat">SOP Lomba</a></li>
              <li><a href="/suporter">SOP Suporter</a></li>
              <li><a href="/pawai">SOP Pawai Virtual</a></li>
            </div>
          </div>
          <li class="subnavHamburger"><a href="/syarat" class="subnavlink">SOP Lomba</a></li>
          <li class="subnavHamburger"><a href="/suporter" class="subnavlink">SOP Suporter</a></li>
          <li class="subnavHamburger"><a href="/pawai" class="subnavlink">SOP Pawai Virtual</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <section id="overlay">
      <section id="content">
        {% block content %}
        {% endblock %}
        <br>
        <section class="footer">
          <a href="/team">©2021 by Canisius Super League Web Development Team</a>
        </section>
      </section>
    </section>
  </body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-209128624-1');
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
      const navbarLinks = document.getElementsByClassName('navbar-links')[0]
  
      toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('active')
      })
  </script>
</html>
