{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.canisiussuperleague.id/static/cekdata.css">
<style>
  body {
    background-color: black;
    background-image: None;
  }
</style>
{% endblock %}
{% block title %} Cek Data {% endblock %}
{% block content %}
<section id="cekdata">
    <h1>Cek Data</h1>
    <form action="/cekdata" method="POST">
        <section class="nomorpeserta">
            <label for="input">Nomor Peserta/Kelompok</label>
            <br>
            <input type="text" name= "input" id="input" required>
        </section>
        <section class="submission">
            <input type="submit" id="submit" name = "submit" value="Submit">
        </section>
    </form>
</section>
{% endblock %}
