<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Pendaftaran - Canisius Super League</title>
    <title>Canisius Super League</title>
  </head>

  <body>
    <div class=header>
      <img width:100% src="{{url_for('static', filename='Artboard 1.png')}}" alt="Logo Canisius Super League" id="logo">
      <h1 id="judul">Semua Kuota Sudah Terpenuhi</h1>
    </div>
    
    <section id="overlay">
      <a href="/">Home Page</a>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
