{% extends "base.html" %}
{% block title %} Canisius Super League {% endblock %}
{% block content %}
    <section id="about">
      <div class="subtitle">
        <h2>About Canisius Super League</h2>
      </div>
      <div id="namacsl" class="subsection"> 
        <h3>Nama Kegiatan</h3>
        <div class="isi">
        <p>Canisius Super League terdiri dari 3 kata yaitu “Canisius”, “Super”, dan “League”. Lalu, apa pengertian dari 3 kata tersebut?</p>
        <ol>
          <li>Canisius merupakan nama sekolah yang akan menjadi tuan rumah dari kegiatan ini.</li>
          <li>Super dimaksudkan untuk para peserta yang menjadi perwakilan sekolah untuk mengikuti kegiatan ini.</li>
          <li>League berarti liga bagi peserta yang telah mendaftar dan berpartisipasi</li>
        </ol>
        </div>
      </div>
      <div id="tema" class="subsection">
        <h3>Our Theme</h3>
        <div class="isi">
        <p><b>“HACIA LO DESCONOCIDO”</b>, yang menunjukkan bahwa kegiatan CSL adalah ajang untuk mencoba hal yang baru di masa pandemi, serta menjadi ajang untuk berkompetisi antar sekolah di seluruh Indonesia. Hal ini dilakukan dalam upaya meningkatkan kolaborasi, interaksi, dan melatih keberanian para siswa yang berpartisipasi dalam menghadapi tantangan yang baru.</p>
        </div>
      </div>
      <div id="logocsl" class="subsection">
        <h3>Our Logo</h3>
        <div class="isi">
          <p>Logo di atas memiliki beberapa komponen yang menarik untuk diketahui, antara lain:</p>
        <ol>
          <li>Kraken berwarna ungu: Kraken adalah binatang legenda yang menyerupai bentuk gurita yang sering tampak di lautan. Makhluk ini masih menjadi suatu misteri atau masih unknown sampai sekarang ini. Oleh karena itu, Kraken dipilih sebagai logo karena tema kegiatan ini adalah towards the unknown. Warna ungu dengan gradasi biru digunakan untuk menggambarkan sifat misterius atau unknown dari lautan dan Atlantis.</li>
          <li>Trident atau trisula berwarna keemasan: trident atau trisula adalah senjata yang sering digunakan oleh Poseidon atau Neptune. Dalam dunia modern ini, mereka sering digambarkan sebagai tokoh fiksi yang terkenal yaitu Aquaman. Secara mitologis, senjata ini digunakan untuk menggambarkan kelautan. Namun, senjata tersebut kini seringkali dikaitkan dengan Atlantis karena digunakan oleh Aquaman dan tokoh atlantis lainnya.</li>
        </ol>
        </div>
      </div>
    </section>
      <div class="isi" id="competitions">
        <table>
          <tr>
            <td>
              <a href="https://docs.google.com/document/d/1hy7Prbi56QqZRo_ml1gplHd1eWXxoKaDc2V33P-hBzg/edit?usp=sharing"><img src="{{url_for('static', filename='chess (1).png')}}" class="icon"></a>
              <h4>Chess League</h4>
            </td>
            <td>
              <a href="#competitions"><img src="{{url_for('static', filename='our competitions.png')}}" class="icon"></a>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/1Q4442gELI8nnWJUNroBNIjRYXxyDDA3g3bxIJOl8HKo/edit?usp=sharing"><img src="{{url_for('static', filename='film.png')}}" class="icon"></a>
              <h4>Film Pendek</h4>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://docs.google.com/document/d/1HMYVyC9YGamqio6tDj-70DoKxKUpZkrXkP1h0qvAWM8/edit"><img src="{{url_for('static', filename='basket.png')}}" class="icon"></a>
              <h4>Basket Skills</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/1Bdu0DiOd4fLOA5ixXE0hMTcSFPiIW4OV/edit?usp=sharing"><img src="{{url_for('static', filename='band.png')}}" class="icon"></a>
              <h4>Band</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/10atQmgVtxgsI2tPtKBkLLP5jnNcbFQTOCbISQFxIDmM/edit?usp=sharing"><img src="{{url_for('static', filename='dance.png')}}" class="icon"></a>
              <h4>Modern Dance</h4>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://docs.google.com/document/d/1RV0rKQ3WPsvldgrqt8XnXUSTu0B0zLl15bV87W0RDdE/edit?usp=sharing"><img src="{{url_for('static', filename='camera.png')}}" class="icon"></a>
              <h4>Fotografi</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/1fEHvkws8040xtgWxevBjJHkwNnNFuGTvViqau4nmbBg/edit?usp=sharing"><img src="{{url_for('static', filename='debat.png')}}" class="icon"></a>
              <h4>English Debate</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/1jnNxjbIJJq69cFJTVkm5bHYp4ivPESv5vzdqopcmKcY/edit?usp=sharing"><img src="{{url_for('static', filename='pidato.png')}}" class="icon"></a>
              <h4>Pidato</h4>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://docs.google.com/document/d/1Lu2BQFF6D6AaoZ2DsfkNfyS0WODROek8QzmPB6pZcT0/edit?usp=sharing"><img src="{{url_for('static', filename='silat.png')}}" class="icon"></a>
              <h4>Pencak Silat</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/1nd-u78B3LDBrSna2zFXqS-BoCYIM189x/edit?usp=sharing&ouid=111073148313474857737&rtpof=true&sd=true"><img src="{{url_for('static', filename='architect.png')}}" class="icon"></a>
              <h4>Seaside House Design</h4>
            </td>
            <td>
              <a href="https://docs.google.com/document/d/17OeCcAnK6vpUIONe8XNauGo2tUTvLCpgYFyqGBFMg0g/edit?usp=sharing"><img src="{{url_for('static', filename='choir.png')}}" class="icon"></a>
              <h4>Paduan Suara</h4>
            </td>
          </tr>
        </table>
      </div>
    </section>
{% endblock %}
