{% extends "base.html" %}
{% block head %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js">
</script>
<style>
    body {
        background-color: whitesmoke;
        background-image: None;
    }
    iframe {
        height: 85vh;
        min-width: 100vw;
        position: relative;
    }
    #my_pdf_viewer {
        text-align: center;
    }

    #canvas_container {
        overflow: auto;
        background: rgb(31, 31, 31);
        text-align: center;
        border: solid 3px;
    }
    button {
        border: 1px solid white;
        color: white;
        padding: 1vh 3vh;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-family: "Verdana", sans-serif;
        background-color: rgb(39, 39, 39);
    }
    button:hover {
        background-color: white;
        opacity: 1;
        color:rgb(83, 83, 83);
    }
    
    #go_previous {
        width: 35%;
        height: 10vh;
        margin: 0;
        font-size: 20px;
    }
    
    #go_next {
        width: 35%;
        height: 10vh;
        margin: 0;
        font-size: 20px;
    }
    #current_page {
        width: 20%;
        margin: 0;
        text-align: center;
        height: 10vh;
        font-size: 30px;
    }

    #zoom_controls {
        text-align: center;
        font-size: 20px;
    }

    #zoom_controls button {
        width: 49.8%;
        text-align: center;
        font-size: 20px;
    }
</style>
{% endblock head %}
{% block title %} Canisius Super League {% endblock %}
{% block content %}
<iframe
src="https://www.youtube.com/embed/zYpE_B1JUio">
</iframe>
<iframe
src="https://cdn.canisiussuperleague.id/static/SOP%20PENDAFTARAN%20CSL.pdf">
</iframe>
<iframe id="drive"
src="https://drive.google.com/embeddedfolderview?id=1ioxpu3SHBIvpC7Pcc14xXmH8NI25gPc6">
</iframe>
{% endblock %}
