{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sop.css')}}">
<style>
  body {
    background-color: black;
  }
  .heading {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
</style>
{% endblock %}
{% block title %} Syarat & Ketentuan {% endblock %}
{% block content %}
<section class="sop">
    <h1 class="heading">SOP Lomba</h1>
    <div class="isi" id="competitions">
      <table>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/1EuyAbsdcbhiMJWOPnfyiATlRWA2sqj10/view"><img src="{{url_for('static', filename='chess (1).png')}}" class="icon"></a>
            <h4>Chess League</h4>
          </td>
          <td>
            <a href="#competitions"><img src="{{url_for('static', filename='Artboard 1.png')}}" class="icon"></a>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1nNf_ET5aSnJ_JfLH5BaXICiEQ5DLenMU/view"><img src="{{url_for('static', filename='film.png')}}" class="icon"></a>
            <h4>Film Pendek</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/1hKW8p_lOo0W0SDY9K78kQDxgNTwuQL9i/view"><img src="{{url_for('static', filename='basket.png')}}" class="icon"></a>
            <h4>Basket Skills</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1ZdtFRphy5cubQwtj77ApZRpHOjErtty0/view"><img src="{{url_for('static', filename='band.png')}}" class="icon"></a>
            <h4>Band</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1NCBKcv1nY0QrDT8gaZ_TvuQAh0LGLRIi/view"><img src="{{url_for('static', filename='dance.png')}}" class="icon"></a>
            <h4>Modern Dance</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/1jqPJoLZwm7iQsNGK4xkUavfHI9-MgCjD/view"><img src="{{url_for('static', filename='camera.png')}}" class="icon"></a>
            <h4>Fotografi</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1AysWyFWtbuyO3GiO1hwGuYmCOTLkYZd9/view"><img src="{{url_for('static', filename='debat.png')}}" class="icon"></a>
            <h4>English Debate</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1m6bkqWHRdPdISit2OW_aOy777maN7ox5/view"><img src="{{url_for('static', filename='pidato.png')}}" class="icon"></a>
            <h4>Pidato</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://drive.google.com/file/d/1i4rWNyWelg1iHpwsGXD0UaQwQvQdKvNU/view"><img src="{{url_for('static', filename='silat.png')}}" class="icon"></a>
            <h4>Pencak Silat</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1Or-sdwB0dQwYkjSqmlJ8N7ks_odufJFo/view"><img src="{{url_for('static', filename='architect.png')}}" class="icon"></a>
            <h4>Seaside House Design</h4>
          </td>
          <td>
            <a href="https://drive.google.com/file/d/1M1EA496tH-xdSCkZkkb7KFFpNhb38F3I/view"><img src="{{url_for('static', filename='choir.png')}}" class="icon"></a>
            <h4>Paduan Suara</h4>
          </td>
        </tr>
      </table>
    </div>
</section>
{% endblock %}
