{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.canisiussuperleague.id/static/sop.css">
<style>
  body {
    background-color: black;
  }
  .heading {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #keterangan{
    text-align: center;
  }
</style>
{% endblock %}
{% block title %}Lomba-Lomba{% endblock %}
{% block content %}
<section class="sop">
    <h1 class="heading">SOP Lomba</h1>
    <h2 id="keterangan">Click Icon/Gambar untuk melihat SOP</h2>
    <br>
    <div class="isi" id="competitions">
      <table>
        <tr>
          <td>
            <a href="https://bit.ly/SOPLombaChessLeague" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/chess%20(1).png" class="icon"></a>
            <h4>Chess League</h4>
          </td>
          <td>
            <a href="#competitions"><img src="https://cdn.canisiussuperleague.id/static/Artboard%201.png" class="icon"></a>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaFilmPendek" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/film.png" class="icon"></a>
            <h4>Film Pendek</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bit.ly/SOPLombaBasketSkills" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/basket.png" class="icon"></a>
            <h4>Basket Skills</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaBand" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/band.png" class="icon"></a>
            <h4>Band</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaModernDance" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/dance.png" class="icon"></a>
            <h4>Modern Dance</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bit.ly/SOPLombaFotografiCSL" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/camera.png" class="icon"></a>
            <h4>Fotografi</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaEnglishDebateCSL" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/debat.png" class="icon"></a>
            <h4>English Debate</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaPidato" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/pidato.png" class="icon"></a>
            <h4>Pidato</h4>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bit.ly/SOPLombaPencakSilatCSL" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/silat.png" class="icon"></a>
            <h4>Pencak Silat</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaSeasideDesignCSL" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/architect.png" class="icon"></a>
            <h4>Seaside House Design</h4>
          </td>
          <td>
            <a href="https://bit.ly/SOPLombaPaduanSuaraVirtual" target="_blank"><img src="https://cdn.canisiussuperleague.id/static/choir.png" class="icon"></a>
            <h4>Paduan Suara</h4>
          </td>
        </tr>
      </table>
    </div>
</section>
{% endblock %}
