{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
  {% if kodepeserta != None %}
  <div id="instruction">
    <h1>Mohon Segera Bayar Biaya Pendaftaran dan Upload Bukti Transfer ke Folder Drive</h1>
    <br>
  </div>
  <div id="output">
      <h2>Biaya Pendaftaran : {{ biaya }}</h2>
      <p>Bayar Tepat hingga 3 digit terakhir supaya dapat di verifikasi panitia !</p>
      <br>
      <h2>Kode Peserta/Kelompok : {{ kodepeserta }}</h2>
      <p>Mohon simpan kode peserta dan jangan di sebar !</p>
      <br>
      <a href="/cekdata" id="button">Cek Data Peserta</a>
  </div>
  {% endif %}
{% endblock %}
