{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.canisiussuperleague.id/static/cekdata.css">
<style>
  body {
    background-color: black;
    background-image: None;
  }
</style>
{% endblock %}
{% block title %} Developers {% endblock %}
{% block content %}
<section class="team">
    <h1>Meet The Web Development Team</h1>
    
    <h2>Coordinated by</h2>
    <p>Hans Joseph Himawan</p>
    <br>
    <h2>Frontend Developer</h2>
    <p>Hans Joseph Himawan</p>
    <p>Vincentius Farrel Bhaskoro Setyanto</p>
    <br>
    <h2>Designs by</h2>
    <p>Hans Joseph Himawan</p>
    <p>Chubsena Swift</p>
    <p>Marcello Dinesh Asyela</p>
    <p>Daryl Putra Budiharjo</p>
    <br>
    <h2>Backend Developer</h2>
    <p>Hans Joseph Himawan</p>
    <p>Darren Alexander Erawan</p>
    <br>
    <h2>Applications Specialist</h2>
    <p>Darren Alexander Erawan</p>
    <br>
    <h2>Hosting Manager</h2>
    <p>Darren Alexander Erawan</p>
    <br>
    <h4>Made With Python3, HTML, CSS, and JavaScript</h4>
    <h4>Powered by Cloudflare</h4>
    <br>
</section>
{% endblock %}
