{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block content %}
    <div id = "dataumum">
        <h4>Kode Peserta      : {{item.kodepeserta_data}}</h4>
        <h4>Sekolah           : {{item.sekolah_data}}</h4>
        <h4>Nama Tim          : {{item.sekolah_data}} - {{item.user_data}}</h4>
        <h4>Biaya Pendaftaran : {{item.biayapeserta_data}}</h4>
        <h4>Data <strong>{{item.verifikasi_data}}</strong> diverifikasi</h4>
    </div>
    <div class="peserta" id="peserta1">
        <h2>Data Peserta 1</h2>
        <h4>Nama Peserta  : {{item.nama_1_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_1_data}}</h4>
        <h4>Email         : {{item.email_1_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_1_data}}</h4>
    </div>
    <div class="peserta" id="peserta2">
        <h2>Data Peserta 2</h2>
        <h4>Nama Peserta  : {{item.nama_2_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_2_data}}</h4>
        <h4>Email         : {{item.email_2_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_2_data}}</h4>
    </div>
    <div class="peserta" id="peserta3">
        <h2>Data Peserta 3</h2>
        <h4>Nama Peserta  : {{item.nama_3_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_3_data}}</h4>
        <h4>Email         : {{item.email_3_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_3_data}}</h4>
    </div>
    <div class="peserta" id="peserta4">
        <h2>Data Peserta 4</h2>
        <h4>Nama Peserta  : {{item.nama_4_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_4_data}}</h4>
        <h4>Email         : {{item.email_4_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_4_data}}</h4>
    </div>
    <div class="peserta" id="peserta5">
        <h2>Data Peserta 5</h2>
        <h4>Nama Peserta  : {{item.nama_5_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_5_data}}</h4>
        <h4>Email         : {{item.email_5_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_5_data}}</h4>
    </div>
    <div class="peserta" id="peserta6">
        <h2>Data Peserta 6</h2>
        <h4>Nama Peserta  : {{item.nama_6_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_6_data}}</h4>
        <h4>Email         : {{item.email_6_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_6_data}}</h4>
    </div>
    <div class="peserta" id="peserta7">
        <h2>Data Peserta 7</h2>
        <h4>Nama Peserta  : {{item.nama_7_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_7_data}}</h4>
        <h4>Email         : {{item.email_7_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_7_data}}</h4>
    </div>
    <div class="peserta" id="peserta8">
        <h2>Data Peserta 8</h2>
        <h4>Nama Peserta  : {{item.nama_8_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_8_data}}</h4>
        <h4>Email         : {{item.email_8_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_8_data}}</h4>
    </div>
    <div class="peserta" id="peserta9">
        <h2>Data Peserta 9</h2>
        <h4>Nama Peserta  : {{item.nama_9_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_9_data}}</h4>
        <h4>Email         : {{item.email_9_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_9_data}}</h4>
    </div>
    <div class="peserta" id="peserta10">
        <h2>Data Peserta 10</h2>
        <h4>Nama Peserta  : {{item.nama_10_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_10_data}}</h4>
        <h4>Email         : {{item.email_10_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_10_data}}</h4>
    </div>
    <div class="peserta" id="peserta11">
        <h2>Data Peserta 11</h2>
        <h4>Nama Peserta  : {{item.nama_11_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_11_data}}</h4>
        <h4>Email         : {{item.email_11_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_11_data}}</h4>
    </div>
    <div class="peserta" id="peserta12">
        <h2>Data Peserta 12</h2>
        <h4>Nama Peserta  : {{item.nama_12_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_12_data}}</h4>
        <h4>Email         : {{item.email_12_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_12_data}}</h4>
    </div>
    <div class="peserta" id="peserta13">
        <h2>Data Peserta 13</h2>
        <h4>Nama Peserta  : {{item.nama_13_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_13_data}}</h4>
        <h4>Email         : {{item.email_13_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_13_data}}</h4>
    </div>
    <div class="peserta" id="peserta14">
        <h2>Data Peserta 14</h2>
        <h4>Nama Peserta  : {{item.nama_14_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_14_data}}</h4>
        <h4>Email         : {{item.email_14_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_14_data}}</h4>
    </div>
    <div class="peserta" id="peserta15">
        <h2>Data Peserta 15</h2>
        <h4>Nama Peserta  : {{item.nama_15_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_15_data}}</h4>
        <h4>Email         : {{item.email_15_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_15_data}}</h4>
    </div>
    <div class="peserta" id="peserta16">
        <h2>Data Peserta 16</h2>
        <h4>Nama Peserta  : {{item.nama_16_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_16_data}}</h4>
        <h4>Email         : {{item.email_16_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_16_data}}</h4>
    </div>
    <div class="peserta" id="peserta17">
        <h2>Data Peserta 17</h2>
        <h4>Nama Peserta  : {{item.nama_17_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_17_data}}</h4>
        <h4>Email         : {{item.email_17_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_17_data}}</h4>
    </div>
    <div class="peserta" id="peserta18">
        <h2>Data Peserta 18</h2>
        <h4>Nama Peserta  : {{item.nama_18_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_18_data}}</h4>
        <h4>Email         : {{item.email_18_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_18_data}}</h4>
    </div>
    <div class="peserta" id="peserta19">
        <h2>Data Peserta 19</h2>
        <h4>Nama Peserta  : {{item.nama_19_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_19_data}}</h4>
        <h4>Email         : {{item.email_19_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_19_data}}</h4>
    </div>
    <div class="peserta" id="peserta20">
        <h2>Data Peserta 20</h2>
        <h4>Nama Peserta  : {{item.nama_20_data}}</h4>
        <h4>Nomor Telepon : {{item.telpon_20_data}}</h4>
        <h4>Email         : {{item.email_20_data}}</h4>
        <h4>Tanggal Lahir : {{item.lahir_20_data}}</h4>
    </div>
{% endblock %}