{% extends "base.html" %}
{% block title %} View Data {% endblock %}
{% block head %}
<style>
    @media screen and (max-width: 800px) {
        #dataumum {
            border-radius: 0;
            width: 100%;
            margin: 1vh 0 0 0;
        }
        .peserta {
            border-radius: 0;
            width: 100%;
            margin: 1vh 0 0 0;
        }
    }
</style>
{% endblock %}
{% block content %}
    <div id = "dataumum">
        <h4>Kode Peserta      : {{item.kodepeserta_data}}</h4>
        <h4>Sekolah           : {{item.sekolah_data}}</h4>
        <h4>Nama Tim          : {{item.sekolah_data}} - {{item.user_data}}</h4>
        <h4>Biaya Pendaftaran : {{item.biayapeserta_data}}</h4>
        <h4>Data <strong>{{item.verifikasi_data}}</strong> diverifikasi</h4>
        {% if item.verifikasi_data == 'SUDAH' %}
        <br>
        <h4><a href="https://www.canva.com/design/DAEpxaavYF4/OPhKoGq0T9AZk3PWB1mVtQ/view?utm_content=DAEpxaavYF4&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton&mode=preview">Link Canva Kartu Peserta</a></h4>
        <h4><a href="https://drive.google.com/drive/folders/14aAQvDiNNzLelrx3Vm-N2-XOll_KVLy1?usp=sharing">Folder Drive Format Kartu Peserta</a></h4>
        <h4><a href="#">Link Zoom Technical Meeting</a></h4>
        {% endif %}
    </div>
    <div class="peserta" id="peserta1">
        <h3>Data Peserta 1</h3>
        <h4>Nama Peserta  : {{item.nama_1_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_1_data}}">{{item.telpon_1_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_1_data}}">{{item.email_1_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_1_data}}</h4>
    </div>
    <div class="peserta" id="peserta2">
        <h3>Data Peserta 2</h3>
        <h4>Nama Peserta  : {{item.nama_2_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_2_data}}">{{item.telpon_2_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_2_data}}">{{item.email_2_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_2_data}}</h4>
    </div>
    <div class="peserta" id="peserta3">
        <h3>Data Peserta 3</h3>
        <h4>Nama Peserta  : {{item.nama_3_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_3_data}}">{{item.telpon_3_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_3_data}}">{{item.email_3_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_3_data}}</h4>
    </div>
    <div class="peserta" id="peserta4">
        <h3>Data Peserta 4</h3>
        <h4>Nama Peserta  : {{item.nama_4_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_4_data}}">{{item.telpon_4_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_4_data}}">{{item.email_4_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_4_data}}</h4>
    </div>
    <div class="peserta" id="peserta5">
        <h3>Data Peserta 5</h3>
        <h4>Nama Peserta  : {{item.nama_5_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_5_data}}">{{item.telpon_5_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_5_data}}">{{item.email_5_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_5_data}}</h4>
    </div>
    <div class="peserta" id="peserta6">
        <h3>Data Peserta 6</h3>
        <h4>Nama Peserta  : {{item.nama_6_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_6_data}}">{{item.telpon_6_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_6_data}}">{{item.email_6_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_6_data}}</h4>
    </div>
    <div class="peserta" id="peserta7">
        <h3>Data Peserta 7</h3>
        <h4>Nama Peserta  : {{item.nama_7_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_7_data}}">{{item.telpon_7_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_7_data}}">{{item.email_7_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_7_data}}</h4>
    </div>
    <div class="peserta" id="peserta8">
        <h3>Data Peserta 8</h3>
        <h4>Nama Peserta  : {{item.nama_8_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_8_data}}">{{item.telpon_8_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_8_data}}">{{item.email_8_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_8_data}}</h4>
    </div>
    <div class="peserta" id="peserta9">
        <h3>Data Peserta 9</h3>
        <h4>Nama Peserta  : {{item.nama_9_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_8_data}}">{{item.telpon_9_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_9_data}}">{{item.email_9_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_9_data}}</h4>
    </div>
    <div class="peserta" id="peserta10">
        <h3>Data Peserta 10</h3>
        <h4>Nama Peserta  : {{item.nama_10_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_10_data}}">{{item.telpon_10_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_10_data}}">{{item.email_10_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_10_data}}</h4>
    </div>
    <div class="peserta" id="peserta11">
        <h3>Data Peserta 11</h3>
        <h4>Nama Peserta  : {{item.nama_11_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_11_data}}">{{item.telpon_11_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_11_data}}">{{item.email_11_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_11_data}}</h4>
    </div>
    <div class="peserta" id="peserta12">
        <h3>Data Peserta 12</h3>
        <h4>Nama Peserta  : {{item.nama_12_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_12_data}}">{{item.telpon_12_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_12_data}}">{{item.email_12_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_12_data}}</h4>
    </div>
    <div class="peserta" id="peserta13">
        <h3>Data Peserta 13</h3>
        <h4>Nama Peserta  : {{item.nama_13_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_13_data}}">{{item.telpon_13_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_13_data}}">{{item.email_13_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_13_data}}</h4>
    </div>
    <div class="peserta" id="peserta14">
        <h3>Data Peserta 14</h3>
        <h4>Nama Peserta  : {{item.nama_14_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_14_data}}">{{item.telpon_14_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_14_data}}">{{item.email_14_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_14_data}}</h4>
    </div>
    <div class="peserta" id="peserta15">
        <h3>Data Peserta 15</h3>
        <h4>Nama Peserta  : {{item.nama_15_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_15_data}}">{{item.telpon_15_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_15_data}}">{{item.email_15_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_15_data}}</h4>
    </div>
    <div class="peserta" id="peserta16">
        <h3>Data Peserta 16</h3>
        <h4>Nama Peserta  : {{item.nama_16_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_16_data}}">{{item.telpon_16_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_16_data}}">{{item.email_16_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_16_data}}</h4>
    </div>
    <div class="peserta" id="peserta17">
        <h3>Data Peserta 17</h3>
        <h4>Nama Peserta  : {{item.nama_17_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_17_data}}">{{item.telpon_17_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_17_data}}">{{item.email_17_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_17_data}}</h4>
    </div>
    <div class="peserta" id="peserta18">
        <h3>Data Peserta 18</h3>
        <h4>Nama Peserta  : {{item.nama_18_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_18_data}}">{{item.telpon_18_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_18_data}}">{{item.email_18_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_18_data}}</h4>
    </div>
    <div class="peserta" id="peserta19">
        <h3>Data Peserta 19</h3>
        <h4>Nama Peserta  : {{item.nama_19_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_19_data}}">{{item.telpon_19_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_19_data}}">{{item.email_19_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_19_data}}</h4>
    </div>
    <div class="peserta" id="peserta20">
        <h3>Data Peserta 20</h3>
        <h4>Nama Peserta  : {{item.nama_20_data}}</h4>
        <h4>Nomor Telepon : <a href="https://wa.me/{{item.telpon_20_data}}">{{item.telpon_20_data}}</a></h4>
        <h4>Email         : <a href="mailto:{{item.email_20_data}}">{{item.email_20_data}}</a></h4>
        <h4>Tanggal Lahir : {{item.lahir_20_data}}</h4>
    </div>
{% endblock %}
